<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav id="desteknavbar" class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
        <div class="container">
            <a class="navbar-brand" routerLink=""><i class="fa fa-diamond mr-1"></i>Destek</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#destekmenuac">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="destekmenuac">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item mr-5">
                        <a href="#ceviridestek" class="nav-link"><i class="fa fa-globe mr-1"></i>Çeviri Destek</a>
                    </li>
                    <li class="nav-item ml-5 mr-5">
                        <a href="#istatistikdestek" class="nav-link"><i class="fa fa-bar-chart mr-1"></i>İstatistik
                            Destek</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a href="#grafikdestek" class="nav-link"><i class="fa fa-object-ungroup mr-1"></i>Grafik
                            Destek</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <section id="topsection">
            <div class="row">
                <div class="jumbotron topjumbo col-md-12 bg-secondary rounded-0 text-light">
                    <h1 class="display-4 text-center">Profesyonel Destek Hizmetleri</h1>
                    <p class="lead mt-4 mb-4 text-center">
                        Deneyimli ve alanlarında uzman kadromuz ile profesyonel <strong>çeviri destek</strong>,
                        <strong>istatistik destek</strong> ve <strong>grafik destek</strong> hizmetleri vermekteyiz.
                        Müşteri memnuniyeti garantili, kaliteli ve hızlı hizmet için siparişinizi oluşturun.
                    </p>
                    <div class="row">
                        <div class="col-md-4 mt-5 d-flex">
                            <div class="card mb-4 text-dark text-center bg-light">
                                <div class="my-4">
                                    <i class="fa fa-language fa-5x text-secondary"></i>
                                </div>
                                <div class="mb-4 mx-4">
                                    <h5>Çeviri Destek Hizmeti</h5>
                                    <p class="text-muted">
                                        Müşteri memnuniyeti odaklı kaliteli ve hızlı çeviri hizmeti sunmaktayız. Çeviri
                                        sayfamıza giderek dosyanızı yükleyin, biz size ulaşalım. Kaliteli çeviri
                                        hizmetiyle tanışma zamanı!
                                    </p>
                                    <a routerLink="/ceviri">
                                        <button class="btn btn-secondary my-1">Çeviri Sayfasına Git</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 d-flex">
                            <div class="card mb-4 text-dark text-center bg-light">
                                <div class="my-4">
                                    <i class="fa fa-pie-chart fa-5x text-secondary"></i>
                                </div>
                                <div class="mb-4 mx-4">
                                    <h5>İstatistik Destek Hizmeti</h5>
                                    <p class="text-muted">
                                        Müşteri memnuniyeti odaklı kaliteli ve hızlı istatistik hizmeti sunmaktayız.
                                        İstatistik sayfamıza giderek dosyanızı yükleyin, biz size ulaşalım. Kaliteli
                                        istatistik hizmetiyle tanışma zamanı!
                                    </p>
                                    <a routerLink="/istatistik">
                                        <button class="btn btn-secondary my-1">İstatistik Sayfasına Git</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 d-flex">
                            <div class="card mb-4 text-dark text-center bg-light">
                                <div class="my-4">
                                    <i class="fa fa-object-group fa-5x text-secondary"></i>
                                </div>
                                <div class="mb-4 mx-4">
                                    <h5>Grafik Destek Hizmeti</h5>
                                    <p class="text-muted">
                                        Müşteri memnuniyeti odaklı kaliteli ve hızlı grafik hizmeti sunmaktayız. Grafik
                                        sayfamıza giderek dosyanızı yükleyin, biz size ulaşalım. Kaliteli grafik
                                        hizmetiyle tanışma zamanı!
                                    </p>
                                    <a routerLink="/grafik">
                                        <button class="btn btn-secondary my-1">Grafik Sayfasına Git</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="bottomsection">
            <div data-spyle="scroll" data-target="#desteknavbar" data-offset="0">
                <section id="ceviridestek">
                    <div class="jumbotron col-md-12 bg-white rounded-0 text-dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mx-auto my-auto text-center">
                                    <img class="img-fluid rounded-circle bottomjumboimg" height="250px" width="350px"
                                        src="assets/images/ceviri.jpg" alt="Çeviri resmi">
                                </div>
                                <div class="col-md-7 mx-auto my-auto text-center text-secondary">
                                    <h2>Çeviri Destek Hizmeti</h2>
                                    <p class="lead text-center">
                                        Alanında uzman çevirmenler ile profesyonel çeviri hizmeti vermekteyiz. Kaliteli
                                        ve
                                        hızlı
                                        çeviri hizmeti için çeviri sayfasına giderek dosyanızı yükleyin. En kısa sürede
                                        size
                                        ulaşalım ve siparişinizi teslim edelim.
                                    </p>
                                    <a routerLink="/ceviri">
                                        <button class="btn btn-secondary my-1">Çeviri Sayfasına Git</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="bg-secondary text-center" style="width: 85%;">
                <section id="istatistikdestek">
                    <div class="jumbotron col-md-12 bg-white rounded-0 text-dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 mx-auto my-auto text-center text-secondary">
                                    <h2>İstatistik Destek Hizmeti</h2>
                                    <p class="lead text-center">
                                        Alanında uzman ekip ile profesyonel istatistik destek hizmeti vermekteyiz.
                                        Kaliteli
                                        ve
                                        hızlı hizmet için istatistik sayfasına giderek dosyanızı yükleyin. En kısa
                                        sürede
                                        size
                                        ulaşalım ve siparişinizi teslim edelim.
                                    </p>
                                    <a routerLink="/istatistik">
                                        <button class="btn btn-secondary my-1">İstatistik Sayfasına Git</button>
                                    </a>
                                </div>
                                <div class="col-md-5 mx-auto my-auto text-center">
                                    <img class="img-fluid rounded-circle bottomjumboimg" height="250px" width="350px"
                                        src="assets/images/istatistik.jpg" alt="İstatistik resmi">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="bg-secondary text-center" style="width: 85%;">
                <section id="grafikdestek">
                    <div class="jumbotron col-md-12 bg-white rounded-0 text-dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mx-auto my-auto text-center">
                                    <img class="img-fluid rounded-circle bottomjumboimg" height="250px" width="350px"
                                        src="assets/images/grafik.jpg" alt="Grafik resmi">
                                </div>
                                <div class="col-md-7 mx-auto my-auto text-center text-secondary">
                                    <h2>Grafik Destek Hizmeti</h2>
                                    <p class="lead text-center">
                                        Alanında uzman ekip ile profesyonel grafik destek hizmeti vermekteyiz. Kaliteli
                                        ve
                                        hızlı
                                        grafik destek hizmeti için grafik sayfasına giderek dosyanızı yükleyin. En kısa
                                        sürede
                                        size ulaşalım ve siparişinizi teslim edelim.
                                    </p>
                                    <a routerLink="/grafik">
                                        <button class="btn btn-secondary my-1">Grafik Sayfasına Git</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <footer class="footer bg-secondary ">
        <div class="footer-copyright text-light text-center py-3">© 2020 Copyright: Erkan Pulat</div>
    </footer>
</body>